<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classContenant#uid#" id="idResume#uid#">

    <div class="classFlex#uid#">

      <div class="classTuile#uid#">

        <a href="#eqLink#" <span id="idNomObjet#uid#" class="cursor">#name_display#</span></a>
        <img class="classHisto#uid#" src="plugins/terrarium/resources/histo.svg">

      </div>

    </div>

    <div class="classFlex#uid#">

      <div class="classTuile#uid#">
        <img class="classStatut#uid# cursor" id="idStatutJour#uid#" src="plugins/terrarium/resources/jour.svg">
        <img class="classStatut#uid# cursor" id="idStatutNuit#uid#" src="plugins/terrarium/resources/nuit.svg">

        <span id="idStatutActuel#uid#"></span></br>

        <img class="classEcl#uid# cursor" id="idLockEcl#uid#" src="plugins/terrarium/resources/lum_lock.svg">
        <img class="classEcl#uid# cursor" id="idUnlockEcl#uid#" src="plugins/terrarium/resources/lum_unlock.svg">

        <img class="classCsg#uid# cursor" id="idLockCsg#uid#" src="plugins/terrarium/resources/lock.svg">
        <img class="classCsg#uid# cursor" id="idUnlockCsg#uid#" src="plugins/terrarium/resources/unlock.svg">
      </div>

    </div>

    <div class="classFlex#uid#">

      <div class="classDemiTuile#uid#">
        <img class="classMode#uid#" id="idMode#uid#" src="plugins/terrarium/resources/flamme.svg">

        <div class="classTemperature#uid#" data-cmd_id="#idTemperature#">
          <span id="idTemperature#uid#"></span>
        </div>

        <div class="classConsigne#uid#">

          <img id="idPlus#uid#" class="classFleches#uid#" src="plugins/terrarium/resources/plus.svg">
          <span id="idConsigne#uid#" class="classValeurConsigne#uid#"></span>
          <img id="idMoins#uid#" class="classFleches#uid#" src="plugins/terrarium/resources/moins.svg">

        </div>

        <span class="classLibelleTuile#uid#">Chauffage</span>

      </div>

      <div class="classDemiTuile#uid#">
        <img class="classModeHum#uid#" id="idModeHum#uid#" src="plugins/terrarium/resources/humidite.svg">

        <div class="classHumidite#uid#" data-cmd_id="#idHumidite#">
          <span id="idHumidite#uid#"></span>
        </div>

        <div class="classConsigne#uid#">
          <img id="idPlusHum#uid#" class="classFleches#uid# cursor" src="plugins/terrarium/resources/plus.svg">
          <span id="idConsigneHum#uid#" class="classValeurConsigne#uid#"></span>
          <img id="idMoinsHum#uid#" class="classFleches#uid# cursor" src="plugins/terrarium/resources/moins.svg">
        </div>

        <span class="classLibelleTuile#uid#">Humidité</span>

      </div>

    </div>

  </div>

  <div class="classContenant#uid#" id="idConsommations#uid#">

    </br></br>
    <span class="classTitre#uid#">Consommations (KwH)</span></br></br>

    <span class="classSousTitre#uid#">Jour</span><span class="classValeur#uid# history cursor" id="idConsoJour#uid#"
      data-cmd_id="#idHistoJour#"></span></br>

    <span class="classSousTitre#uid#">Semaine</span><span class="classValeur#uid# history cursor"
      id="idConsoSemaine#uid#" data-cmd_id="#idHistoSemaine#"></span></br>

    <span class="classSousTitre#uid#">Mois</span><span class="classValeur#uid# history cursor" id="idConsoMois#uid#"
      data-cmd_id="#idHistoMois#"></span></br>

    <span class="classSousTitre#uid#">Année</span><span class="classValeur#uid# history cursor" id="idConsoAnnee#uid#"
      data-cmd_id="#idHistoAnnee#"></span>

    <img class="classPrecedent#uid# cursor" src="plugins/terrarium/resources/previous.svg">

  </div>

  <style>
    .classContenant#uid# {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border: 1px solid #000000;
      border-radius: 8px;
      color: #000000;
    }

    .classFlex#uid# {
      display: flex;
      justify-content: space-around;
    }

    .classTuile#uid# {
      width: 96%;
      height: 40px;
      position: relative;
      margin-top: 8px;
      background-color: #FFFFFF;
      border: 1px solid #808080;
      border-radius: 8px;
      color: #000000;
    }

    .classDemiTuile#uid# {
      width: 46%;
      height: 150px;
      margin-top: 8px;
      position: relative;
      background-color: #FFFFFF;
      border: 1px solid #808080;
      border-radius: 8px;
      color: #000000;
    }

    .classLibelleTuile#uid# {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #808080;
      bottom: 5px;
    }

    #idStatutActuel#uid# {
      position: absolute;
      width: 70%;
      top: 10px;
      left: 30px;
      text-align: center;
      font-size: 14px;
    }

    #idNomObjet#uid# {
      position: absolute;
      width: 65%;
      top: 10px;
      left: 50px;
      text-align: center;
      font-size: 14px;
      color: #808080 !important;
    }

    .classStatut#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classStatut#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classMode#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classModeHum#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classTemperature#uid# {
      position: absolute;
      height: 30px;
      top: 5px;
      right: 5px;
      text-align: right;
      font-size: 18px;
      color: #808080;
    }

    .classHumidite#uid# {
      position: absolute;
      height: 30px;
      top: 5px;
      right: 5px;
      text-align: right;
      font-size: 18px;
      color: #808080;
    }

    .classCsg#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      right: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classCsg#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classConsigne#uid# {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 130px;
      top: 5px;
    }

    .classFleches#uid# {
      width: 50px;
      height: 50px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classFleches#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classValeurConsigne#uid# {
      width: 100%;
      height: 30px;
      text-align: center;
      font-size: 30px;
      margin-top: -8px;
    }

    .classEcl#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      right: 26px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classEcl#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classHisto#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classHisto#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classTitre#uid# {
      position: absolute;
      width: 96%;
      left: 2%;
      text-align: left;
      font-size: 14px;
      background-color: #E0E0E0;
      color: #808080;
    }

    .classSousTitre#uid# {
      position: absolute;
      width: 100%;
      left: 20px;
      text-align: left;
      font-size: 14px;
      color: #000000;
    }

    .classValeur#uid# {
      position: absolute;
      width: 100%;
      right: 10px;
      text-align: right;
      font-size: 14px;
      color: #808080;
    }

    .classPrecedent#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 5px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classPrecedent#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }
  </style>

  <script type="text/javascript">

    jeedom.cmd.update['#idStatut#'] = function (_options) {

      if (_options.display_value == "Jour") {
        $('#idStatutJour#uid#').show();
        $('#idStatutNuit#uid#').hide();
        $('#idStatutActuel#uid#').html('Mode jour');
      }
      else {
        $('#idStatutJour#uid#').hide();
        $('#idStatutNuit#uid#').show();
        $('#idStatutActuel#uid#').html('Mode nuit');
      }
    }
    jeedom.cmd.update['#idStatut#']({ display_value: '#statut#' });

    jeedom.cmd.update['#idTemperature#'] = function (_options) {
      $('#idTemperature#uid#').html(Math.round(_options.display_value * 10) / 10 + '°');
    }
    jeedom.cmd.update['#idTemperature#']({ display_value: '#temperature#' });

    jeedom.cmd.update['#idHumidite#'] = function (_options) {
      $('#idHumidite#uid#').html(Math.round(_options.display_value * 10) / 10 + '%');
    }
    jeedom.cmd.update['#idHumidite#']({ display_value: '#humidite#' });

    jeedom.cmd.update['#idConsigne#'] = function (_options) {
      $('#idConsigne#uid#').html(Math.round(_options.display_value * 10) / 10 + '°');
    }
    jeedom.cmd.update['#idConsigne#']({ display_value: '#consigne#' });

    jeedom.cmd.update['#idConsigne_hum#'] = function (_options) {
      $('#idConsigneHum#uid#').html(Math.round(_options.display_value * 10) / 10 + '%');
    }
    jeedom.cmd.update['#idConsigne_hum#']({ display_value: '#consigne_hum#' });

    jeedom.cmd.update['#idConsoJour#'] = function (_options) {
      $('#idConsoJour#uid#').html(_options.display_value);
    }
    jeedom.cmd.update['#idConsoJour#']({ display_value: '#consoJour#' });

    jeedom.cmd.update['#idConsoSemaine#'] = function (_options) {
      $('#idConsoSemaine#uid#').html(_options.display_value);
    }
    jeedom.cmd.update['#idConsoSemaine#']({ display_value: '#consoSemaine#' });

    jeedom.cmd.update['#idConsoMois#'] = function (_options) {
      $('#idConsoMois#uid#').html(_options.display_value);
    }
    jeedom.cmd.update['#idConsoMois#']({ display_value: '#consoMois#' });

    jeedom.cmd.update['#idConsoAnnee#'] = function (_options) {
      $('#idConsoAnnee#uid#').html(_options.display_value);
    }
    jeedom.cmd.update['#idConsoAnnee#']({ display_value: '#consoAnnee#' });

    jeedom.cmd.update['#idMode#'] = function (_options) {
      if (_options.display_value == "Chauffe") {
        $('#idMode#uid#').show();
      }
      else {
        $('#idMode#uid#').hide();
      }
    }
    jeedom.cmd.update['#idMode#']({ display_value: '#mode#' });

    jeedom.cmd.update['#idMode_hum#'] = function (_options) {
      if (_options.display_value == "Humidifie") {
        $('#idModeHum#uid#').show();
      }
      else {
        $('#idModeHum#uid#').hide();
      }
    }
    jeedom.cmd.update['#idMode_hum#']({ display_value: '#mode_hum#' });

    $('#idMoins#uid#').on('click', function () {
      var min = ('#minConsigne#' == '') ? Number.MIN_VALUE : parseFloat('#minConsigne#');
      var stepConsigne = (isNaN(parseFloat('#stepConsigne#'))) ? 0.5 : parseFloat('#stepConsigne#');
      if (parseFloat($('#idConsigne#uid#').html()) >= min + stepConsigne) {
        jeedom.cmd.update['#idConsigne#']({ display_value: parseFloat($('#idConsigne#uid#').html()) - stepConsigne });
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: $('#idConsigne#uid#').html().replace("°", "").replace(" ", "") }
        });
      } else if (parseFloat($('#idConsigne#uid#').html()) > min) {
        jeedom.cmd.update['#idConsigne#']({ display_value: min });
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: $('#idConsigne#uid#').html().replace("°", "").replace(" ", "") }
        });
      }
    });

    $('#idPlus#uid#').on('click', function () {
      var max = ('#maxConsigne#' == '') ? Number.MAX_VALUE : parseFloat('#maxConsigne#');
      var stepConsigne = (isNaN(parseFloat('#stepConsigne#'))) ? 0.5 : parseFloat('#stepConsigne#');
      if (parseFloat($('#idConsigne#uid#').html()) <= max - stepConsigne) {
        jeedom.cmd.update['#idConsigne#']({ display_value: parseFloat($('#idConsigne#uid#').html()) + stepConsigne });
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: $('#idConsigne#uid#').html().replace("°", "").replace(" ", "") }
        });
      } else if (parseFloat($('#idConsigne#uid#').html()) < max) {
        jeedom.cmd.update['#idConsigne#']({ display_value: max });
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: $('#idConsigne#uid#').html().replace("°", "").replace(" ", "") }
        });
      }
    });

    $('#idMoinsHum#uid#').on('click', function () {
      var min = ('#minConsigne_hum#' == '') ? Number.MIN_VALUE : parseFloat('#minConsigne_hum#');
      var stepConsigne = (isNaN(parseFloat('#stepConsigne_hum#'))) ? 1 : parseFloat('#stepConsigne_hum#');
      if (parseFloat($('#idConsigneHum#uid#').html()) >= min + stepConsigne) {
        jeedom.cmd.update['#idConsigne_hum#']({ display_value: parseFloat($('#idConsigneHum#uid#').html()) - stepConsigne });
        jeedom.cmd.execute({
          id: '#idThermostat_hum#', value:
            { slider: $('#idConsigneHum#uid#').html().replace("%", "").replace(" ", "") }
        });
      } else if (parseFloat($('#idConsigneHum#uid#').html()) > min) {
        jeedom.cmd.update['#idConsigne_hum#']({ display_value: min });
        jeedom.cmd.execute({
          id: '#idThermostat_hum#', value:
            { slider: $('#idConsigneHum#uid#').html().replace("%", "").replace(" ", "") }
        });
      }
    });

    $('#idPlusHum#uid#').on('click', function () {
      var max = ('#maxConsigne_hum#' == '') ? Number.MAX_VALUE : parseFloat('#maxConsigne_hum#');
      var stepConsigne = (isNaN(parseFloat('#stepConsigne_hum#'))) ? 0.5 : parseFloat('#stepConsigne_hum#');
      if (parseFloat($('#idConsigneHum#uid#').html()) <= max - stepConsigne) {
        jeedom.cmd.update['#idConsigne_hum#']({ display_value: parseFloat($('#idConsigneHum#uid#').html()) + stepConsigne });
        jeedom.cmd.execute({
          id: '#idThermostat_hum#', value:
            { slider: $('#idConsigneHum#uid#').html().replace("%", "").replace(" ", "") }
        });
      } else if (parseFloat($('#idConsigneHum#uid#').html()) < max) {
        jeedom.cmd.update['#idConsigne_hum#']({ display_value: max });
        jeedom.cmd.execute({
          id: '#idThermostat_hum#', value:
            { slider: $('#idConsigneHum#uid#').html().replace("%", "").replace(" ", "") }
        });
      }
    });

    jeedom.cmd.update['#idEtatVerrouConsignes#'] = function (_options) {
      if (_options.display_value == "1") {
        $('#idLockCsg#uid#').show();
        $('#idUnlockCsg#uid#').hide();
      }
      else {
        $('#idLockCsg#uid#').hide();
        $('#idUnlockCsg#uid#').show();
      }
    }
    jeedom.cmd.update['#idEtatVerrouConsignes#']({ display_value: '#etatVerrouConsignes#' });

    $('#idLockCsg#uid#').on('click', function () {
      jeedom.cmd.execute({
        id: '#idOffVerrouConsignes#'
      });
    });

    $('#idUnlockCsg#uid#').on('click', function () {
      jeedom.cmd.execute({
        id: '#idOnVerrouConsignes#'
      });
    });

    jeedom.cmd.update['#idEtatVerrouEclairage#'] = function (_options) {
      if (_options.display_value == "1") {
        $('#idLockEcl#uid#').show();
        $('#idUnlockEcl#uid#').hide();
      }
      else {
        $('#idLockEcl#uid#').hide();
        $('#idUnlockEcl#uid#').show();
      }
    }
    jeedom.cmd.update['#idEtatVerrouEclairage#']({ display_value: '#etatVerrouEclairage#' });

    $('#idLockEcl#uid#').on('click', function () {
      jeedom.cmd.execute({
        id: '#idOffVerrouEclairage#'
      });
    });

    $('#idUnlockEcl#uid#').on('click', function () {
      jeedom.cmd.execute({
        id: '#idOnVerrouEclairage#'
      });
    });

    $('#idStatutJour#uid#').on('click', function () {
      jeedom.cmd.execute({
        id: '#idStatutNuit#'
      });
    });

    $('#idStatutNuit#uid#').on('click', function () {
      jeedom.cmd.execute({
        id: '#idStatutJour#'
      });
    });

    $('.classHisto#uid#').on('click', function () {
      $('#idResume#uid#').hide();
      $('#idConsommations#uid#').show();
    });

    $('.classPrecedent#uid#').on('click', function () {
      $('#idResume#uid#').show();
      $('#idConsommations#uid#').hide();
    });
    $('#idResume').show();
    $('#idConsommations#uid#').hide();

  </script>

</div>