<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classConsoValeurs">
    <div id="idConsoJour#uid#" class="classConsoValeurJour history cursor" data-cmd_id="#idHistoJour#">
    </div>
    <div id="idConsoSemaine#uid#" class="classConsoValeurSemaine history cursor" data-cmd_id="#idHistoSemaine#">
    </div>
    <div id="idConsoMois#uid#" class="classConsoValeurMois history cursor" data-cmd_id="#idHistoMois#">
    </div>
    <div id="idConsoAnnee#uid#" class="classConsoValeurAnnee history cursor" data-cmd_id="#idHistoAnnee#">
    </div>
    <div class="classConsoKwH">
      <span>KwH</span>
    </div>
    <div class="classConsoLabelJ">
      <span>J</span>
    </div>
    <div class="classConsoLabelS">
      <span>S</span>
    </div>
    <div class="classConsoLabelM">
      <span>M</span>
    </div>
    <div class="classConsoLabelA">
      <span>A</span>
    </div>
  </div>
</div>

<style>
  .classConsoValeurs {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #27313A;
    border: 1px solid #000000;
    border-radius: 8px;
    font-weight: bold;
    font-size: 28px;
    color: #ffffff;
  }

  .classConsoValeurJour {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .classConsoValeurSemaine {
    position: absolute;
    left: 10px;
    top: 60px;
  }

  .classConsoValeurMois {
    position: absolute;
    left: 10px;
    top: 110px;
  }

  .classConsoValeurAnnee {
    position: absolute;
    left: 10px;
    top: 160px;
  }

  .classConsoKwH {
    position: absolute;
    top: 200px;
    right: 10px;
  }

  .classConsoLabelJ {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: normal;
    font-size: 18px;
  }

  .classConsoLabelS {
    position: absolute;
    top: 60px;
    right: 10px;
    font-weight: normal;
    font-size: 18px;
  }

  .classConsoLabelM {
    position: absolute;
    top: 110px;
    right: 10px;
    font-weight: normal;
    font-size: 18px;
  }

  .classConsoLabelA {
    position: absolute;
    top: 160px;
    right: 10px;
    font-weight: normal;
    font-size: 18px;
  }

  .classConsoChiffre {
    background-color: #000000;
    border: 1px solid #7F7F7F;
    border-radius: 3px;
    margin-left: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .classConsoDecimale {
    background-color: #FA4628;
    border: 1px solid #7F7F7F;
    border-radius: 3px;
    margin-left: 6px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .classConsoLabel {
    background-color: #000000;
    border: 1px solid #7F7F7F;
    border-radius: 3px;
    margin-left: 20px;
    padding-left: 3px;
    padding-right: 3px;
  }
</style>

<script type="text/javascript">

  $(document).change(function (e) {
    if (e.target.dataset.eqlogic_uid === "#uid#") {
      initDisplay#uid#();
    }
  });

  $(document).ready(function () {
    initDisplay#uid#();
  });

  function initDisplay#uid#()
  {

    let consoJour = "#consoJour#";
    let spanConsoJour = $('#idConsoJour#uid#');
    spanConsoJour.empty();
    spanConsoJour.append(genererCompteur#uid#(consoJour));

    let consoSemaine = "#consoSemaine#";
    let spanConsoSemaine = $('#idConsoSemaine#uid#');
    spanConsoSemaine.empty();
    spanConsoSemaine.append(genererCompteur#uid#(consoSemaine));

    let consoMois = "#consoMois#";
    let spanConsoMois = $('#idConsoMois#uid#');
    spanConsoMois.empty();
    spanConsoMois.append(genererCompteur#uid#(consoMois));

    let consoAnnee = "#consoAnnee#";
    let spanConsoAnnee = $('#idConsoAnnee#uid#');
    spanConsoAnnee.empty();
    spanConsoAnnee.append(genererCompteur#uid#(consoAnnee));

    $('body').on('cmd::update', function (_event, _options) {
      $(_options).each(function () {
        switch (this.cmd_id) {
          case "#idConsoJour#":
            $('#idConsoJour#uid#').empty().append(genererCompteur#uid#(this.value));
            break;
          case "#idConsoSemaine#":
            $('#idConsoSemaine#uid#').empty().append(genererCompteur#uid#(this.value));
            break;
          case "#idConsoMois#":
            $('#idConsoMois#uid#').empty().append(genererCompteur#uid#(this.value));
            break;
          case "#idConsoAnnee#":
            $('#idConsoAnnee#uid#').empty().append(genererCompteur#uid#(this.value));
            break;
        }
      });
    });

  }

  function genererCompteur#uid#(valeur, type)
  {
    let val = Math.trunc(valeur * 10 + 0.5);
    let mille = Math.trunc(val / 10000);
    val = val - mille * 10000;
    let cent = Math.trunc(val / 1000);
    val = val - cent * 1000;
    let dix = Math.trunc(val / 100);
    val = val - dix * 100;
    let un = Math.trunc(val / 10);
    val = val - un * 10;
    let dixieme = val;

    return genererChiffre#uid#(mille) +
      genererChiffre#uid#(cent) +
        genererChiffre#uid#(dix) +
          genererChiffre#uid#(un) +
            genererDecimale#uid#(dixieme);

  }

  function genererChiffre#uid#(chiffre)
  {
    return '<span class="classConsoChiffre">' + chiffre + '</span>';
  }

  function genererDecimale#uid#(chiffre)
  {
    return '<span class="classConsoDecimale">' + chiffre + '</span>';
  }

</script>