<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classContenant#uid#" id="idResume#uid#">

    <div class="classFlex#uid#">

      <div class="classTuile#uid#">

        <a href="#eqLink#" <span id="idNomObjet#uid#" class="cursor">#name_display#</span></a>
        <img id="idHisto#uid#" class="classHisto#uid#" src="plugins/terrarium/core/img/histo.svg">

      </div>

    </div>

    <div class="classFlex#uid#">

      <div class="classTuile#uid#">
        <img class="classStatut#uid# cursor" id="idStatutJour#uid#" src="plugins/terrarium/core/img/jour.svg">
        <img class="classStatut#uid# cursor" id="idStatutNuit#uid#" src="plugins/terrarium/core/img/nuit.svg">

        <span id="idStatutActuel#uid#"></span></br>

        <img class="classVen#uid# cursor" id="idLockVen#uid#" src="plugins/terrarium/core/img/fan_off.svg">
        <img class="classVen#uid# cursor" id="idUnlockVen#uid#" src="plugins/terrarium/core/img/fan_on.svg">

        <img class="classEcl#uid# cursor" id="idLockEcl#uid#" src="plugins/terrarium/core/img/lum_lock.svg">
        <img class="classEcl#uid# cursor" id="idUnlockEcl#uid#" src="plugins/terrarium/core/img/lum_unlock.svg">

        <img class="classCsg#uid# cursor" id="idLockCsg#uid#" src="plugins/terrarium/core/img/lock.svg">
        <img class="classCsg#uid# cursor" id="idUnlockCsg#uid#" src="plugins/terrarium/core/img/unlock.svg">
      </div>

    </div>

    <div class="classFlex#uid#">

      <div class="classDemiTuile#uid#">
        <img class="classMode#uid#" id="idMode#uid#" src="plugins/terrarium/core/img/flamme.svg">
        <img class="classModeVen#uid#" id="idModeVen#uid#" src="plugins/terrarium/core/img/fan.svg">

        <div class="classTemperature#uid#" data-cmd_id="#idTemperature#">
          <span id="idTemperature#uid#"></span>
        </div>

        <div class="classConsigne#uid#">

          <img id="idPlus#uid#" class="classFleches#uid#" src="plugins/terrarium/core/img/plus.svg">
          <span id="idConsigne#uid#" class="classValeurConsigne#uid#"></span>
          <img id="idMoins#uid#" class="classFleches#uid#" src="plugins/terrarium/core/img/moins.svg">

        </div>

        <span class="classLibelleTuile#uid#">Chauffage</span>

      </div>

      <div class="classDemiTuile#uid#">
        <img class="classModeHum#uid#" id="idModeHum#uid#" src="plugins/terrarium/core/img/humidite.svg">

        <div class="classHumidite#uid#" data-cmd_id="#idHumidite#">
          <span id="idHumidite#uid#"></span>
        </div>

        <div class="classConsigne#uid#">
          <img id="idPlusHum#uid#" class="classFleches#uid# cursor" src="plugins/terrarium/core/img/plus.svg">
          <span id="idConsigneHum#uid#" class="classValeurConsigne#uid#"></span>
          <img id="idMoinsHum#uid#" class="classFleches#uid# cursor" src="plugins/terrarium/core/img/moins.svg">
        </div>

        <span class="classLibelleTuile#uid#">Humidité</span>

      </div>

    </div>

  </div>

  <div class="classContenant#uid#" id="idConsommations#uid#">

    </br></br>
    <span class="classTitre#uid#">Consommations (KwH)</span></br></br>

    <span class="classSousTitre#uid#">Jour</span><span class="classValeur#uid# history cursor" id="idConsoJour#uid#"
      data-cmd_id="#idHistoJour#"></span></br>

    <span class="classSousTitre#uid#">Semaine</span><span class="classValeur#uid# history cursor"
      id="idConsoSemaine#uid#" data-cmd_id="#idHistoSemaine#"></span></br>

    <span class="classSousTitre#uid#">Mois</span><span class="classValeur#uid# history cursor" id="idConsoMois#uid#"
      data-cmd_id="#idHistoMois#"></span></br>

    <span class="classSousTitre#uid#">Année</span><span class="classValeur#uid# history cursor" id="idConsoAnnee#uid#"
      data-cmd_id="#idHistoAnnee#"></span>

    <img id="idPrecedent#uid#" class="classPrecedent#uid# cursor" src="plugins/terrarium/core/img/previous.svg">

  </div>

  <style>
    .classContenant#uid# {
      width: 100%;
      height: 100%;
      background-color: #couleurFond#;
      border: 1px solid #ffffff;
      border-radius: 8px;
      color: #couleur#;
    }

    .classFlex#uid# {
      display: flex;
      justify-content: space-around;
    }

    .classTuile#uid# {
      width: 96%;
      height: 40px;
      position: relative;
      margin-top: 8px;
      border: 1px solid #808080;
      border-radius: 8px;
    }

    .classDemiTuile#uid# {
      width: 46%;
      height: 150px;
      margin-top: 8px;
      position: relative;
      border: 1px solid #808080;
      border-radius: 8px;
    }

    .classLibelleTuile#uid# {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #808080;
      bottom: 5px;
    }

    #idStatutActuel#uid# {
      position: absolute;
      width: 70%;
      top: 10px;
      left: 30px;
      text-align: center;
      font-size: 14px;
    }

    #idNomObjet#uid# {
      position: absolute;
      width: 65%;
      top: 10px;
      left: 50px;
      text-align: center;
      font-size: 14px;
      color: #808080 !important;
    }

    .classStatut#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classStatut#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classMode#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classModeVen#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 26px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classModeHum#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classTemperature#uid# {
      position: absolute;
      height: 30px;
      top: 5px;
      right: 5px;
      text-align: right;
      font-size: 18px;
      color: #808080;
    }

    .classHumidite#uid# {
      position: absolute;
      height: 30px;
      top: 5px;
      right: 5px;
      text-align: right;
      font-size: 18px;
      color: #808080;
    }

    .classCsg#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      right: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classCsg#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classConsigne#uid# {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 130px;
      top: 5px;
    }

    .classFleches#uid# {
      width: 50px;
      height: 50px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classFleches#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classValeurConsigne#uid# {
      width: 100%;
      height: 30px;
      text-align: center;
      font-size: 30px;
      margin-top: -8px;
    }

    .classVen#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      right: 49px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classVen#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classEcl#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      right: 26px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classEcl#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classHisto#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 3px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classHisto#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }

    .classTitre#uid# {
      position: absolute;
      width: 96%;
      left: 2%;
      text-align: left;
      font-size: 14px;
      background-color: #E0E0E0;
      color: #808080;
    }

    .classSousTitre#uid# {
      position: absolute;
      width: 100%;
      left: 20px;
      text-align: left;
      font-size: 14px;
    }

    .classValeur#uid# {
      position: absolute;
      width: 100%;
      right: 10px;
      text-align: right;
      font-size: 14px;
      color: #808080;
    }

    .classPrecedent#uid# {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 5px;
      top: 3px;
      filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
    }

    .classPrecedent#uid#:hover {
      filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
    }
  </style>

  <script type="text/javascript">

    // Refresh Statut
    //
    jeedom.cmd.addUpdateFunction('#idStatut#', function (_options) {
      if (_options.display_value == "Jour") {
        if (is_object(cmd = document.querySelector('#idStatutJour#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idStatutNuit#uid#'))) {
          cmd.style.display = 'none';
        }
        if (is_object(cmd = document.querySelector('#idStatutActuel#uid#'))) {
          cmd.innerHTML = 'Mode jour';
        }
      } else {
        if (is_object(cmd = document.querySelector('#idStatutJour#uid#'))) {
          cmd.style.display = 'none';
        }
        if (is_object(cmd = document.querySelector('#idStatutNuit#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idStatutActuel#uid#'))) {
          cmd.innerHTML = 'Mode nuit';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idStatut#', value: '#statut#', display_value: '#statut#' }]);

    // Refresh Température
    //
    jeedom.cmd.addUpdateFunction('#idTemperature#', function (_options) {
      if (is_object(cmd = document.querySelector('#idTemperature#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 10) / 10 + '°';
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idTemperature#', value: '#temperature#', display_value: '#temperature#' }]);

    // Refresh Humidité
    //
    jeedom.cmd.addUpdateFunction('#idHumidite#', function (_options) {
      if (is_object(cmd = document.querySelector('#idHumidite#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 10) / 10 + '%';
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idHumidite#', value: '#humidite#', display_value: '#humidite#' }]);

    // Refresh Consigne
    //
    jeedom.cmd.addUpdateFunction('#idConsigne#', function (_options) {
      if (is_object(cmd = document.querySelector('#idConsigne#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 10) / 10 + '°';
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: '#consigne#', display_value: '#consigne#' }]);

    // Refresh consigne humidité
    //
    jeedom.cmd.addUpdateFunction('#idConsigne_hum#', function (_options) {
      if (is_object(cmd = document.querySelector('#idConsigneHum#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 10) / 10 + '%';
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne_hum#', value: '#consigne_hum#', display_value: '#consigne_hum#' }]);

    // Refresh consommation jour
    //
    jeedom.cmd.addUpdateFunction('#idConsoJour#', function (_options) {
      if (is_object(cmd = document.querySelector('#idConsoJour#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 100) / 100;
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idConsoJour#', value: '#consoJour#', display_value: '#consoJour#' }]);

    // Refresh consommation Semaine
    //
    jeedom.cmd.addUpdateFunction('#idConsoSemaine#', function (_options) {
      if (is_object(cmd = document.querySelector('#idConsoSemaine#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 100) / 100;
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idConsoSemaine#', value: '#consoSemaine#', display_value: '#consoSemaine#' }]);

    // Refresh consommation Mois
    //
    jeedom.cmd.addUpdateFunction('#idConsoMois#', function (_options) {
      if (is_object(cmd = document.querySelector('#idConsoMois#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 100) / 100;
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idConsoMois#', value: '#consoMois#', display_value: '#consoMois#' }]);

    // Refresh Consommation année
    //
    jeedom.cmd.addUpdateFunction('#idConsoAnnee#', function (_options) {
      if (is_object(cmd = document.querySelector('#idConsoAnnee#uid#'))) {
        cmd.innerHTML = Math.round(_options.display_value * 100) / 100;
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idConsoAnnee#', value: '#consoAnnee#', display_value: '#consoAnnee#' }]);

    // Refresh mode
    //
    jeedom.cmd.addUpdateFunction('#idMode#', function (_options) {
      if (is_object(cmd = document.querySelector('#idMode#uid#'))) {
        if (_options.display_value == "Chauffe") {
          cmd.style.display = 'block';
        }
        else {
          cmd.style.display = 'none';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idMode#', value: '#mode#', display_value: '#mode#' }]);

    // Refresh mode humidité
    //
    jeedom.cmd.addUpdateFunction('#idMode_hum#', function (_options) {
      if (is_object(cmd = document.querySelector('#idModeHum#uid#'))) {
        if (_options.display_value == "Humidifie") {
          cmd.style.display = 'block';
        }
        else {
          cmd.style.display = 'none';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idMode_hum#', value: '#mode_hum#', display_value: '#mode_hum#' }]);

    // Refresh mode ventilation
    //
    jeedom.cmd.addUpdateFunction('#idMode_ven#', function (_options) {
      if (is_object(cmd = document.querySelector('#idModeVen#uid#'))) {
        if (_options.display_value == "Ventile") {
          cmd.style.display = 'block';
        }
        else {
          cmd.style.display = 'none';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idMode_ven#', value: '#mode_ven#', display_value: '#mode_ven#' }]);

    // Moins-Plus consigne température
    //
    document.getElementById("idMoins#uid#").onclick = function () {
      if (is_object(cmd = document.querySelector('#idConsigne#uid#'))) {
        var min = ('#minConsigne#' == '') ? Number.MIN_VALUE : parseFloat('#minConsigne#');
        var stepConsigne = (isNaN(parseFloat('#stepConsigne#'))) ? 0.5 : parseFloat('#stepConsigne#');
        if (parseFloat(cmd.innerHTML) >= min + stepConsigne) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: parseFloat(cmd.innerHTML) - stepConsigne, display_value: parseFloat(cmd.innerHTML) - stepConsigne }]);
          jeedom.cmd.execute({
            id: '#idThermostat#', value:
              { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
          });
        } else if (parseFloat(cmd.innerHTML) > min) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: min, display_value: min }]);
          jeedom.cmd.execute({
            id: '#idThermostat#', value:
              { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
          });
        }
      }
    };

    document.getElementById("idPlus#uid#").onclick = function () {
      if (is_object(cmd = document.querySelector('#idConsigne#uid#'))) {
        var max = ('#maxConsigne#' == '') ? Number.MAX_VALUE : parseFloat('#maxConsigne#');
        var stepConsigne = (isNaN(parseFloat('#stepConsigne#'))) ? 0.5 : parseFloat('#stepConsigne#');
        if (parseFloat(cmd.innerHTML) <= max - stepConsigne) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: parseFloat(cmd.innerHTML) + stepConsigne, display_value: parseFloat(cmd.innerHTML) + stepConsigne }]);
          jeedom.cmd.execute({
            id: '#idThermostat#', value:
              { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
          });
        } else if (parseFloat(cmd.innerHTML) < max) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: max, display_value: max }]);
          jeedom.cmd.execute({
            id: '#idThermostat#', value:
              { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
          });
        }
      }
    };

    // Moins-Plus consigne humidité
    //
    document.getElementById("idMoinsHum#uid#").onclick = function () {
      if (is_object(cmd = document.querySelector('#idConsigneHum#uid#'))) {
        var min = ('#minConsigne_hum#' == '') ? Number.MIN_VALUE : parseFloat('#minConsigne_hum#');
        var stepConsigne = (isNaN(parseFloat('#stepConsigne_hum#'))) ? 1 : parseFloat('#stepConsigne_hum#');
        if (parseFloat(cmd.innerHTML) >= min + stepConsigne) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne_hum#', value: parseFloat(cmd.innerHTML) - stepConsigne, display_value: parseFloat(cmd.innerHTML) - stepConsigne }]);
          jeedom.cmd.execute({
            id: '#idThermostat_hum#', value:
              { slider: cmd.innerHTML.replace("%", "").replace(" ", "") }
          });
        } else if (parseFloat(cmd.innerHTML) > min) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne_hum#', value: min, display_value: min }]);
          jeedom.cmd.execute({
            id: '#idThermostat_hum#', value:
              { slider: cmd.innerHTML.replace("%", "").replace(" ", "") }
          });
        }
      }
    };

    document.getElementById("idPlusHum#uid#").onclick = function () {
      if (is_object(cmd = document.querySelector('#idConsigneHum#uid#'))) {
        var max = ('#maxConsigne_hum#' == '') ? Number.MAX_VALUE : parseFloat('#maxConsigne_hum#');
        var stepConsigne = (isNaN(parseFloat('#stepConsigne_hum#'))) ? 0.5 : parseFloat('#stepConsigne_hum#');
        if (parseFloat(cmd.innerHTML) <= max - stepConsigne) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne_hum#', value: parseFloat(cmd.innerHTML) + stepConsigne, display_value: parseFloat(cmd.innerHTML) + stepConsigne }]);
          jeedom.cmd.execute({
            id: '#idThermostat_hum#', value:
              { slider: cmd.innerHTML.replace("%", "").replace(" ", "") }
          });
        } else if (parseFloat(cmd.innerHTML) < max) {
          jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne_hum#', value: max, display_value: max }]);
          jeedom.cmd.execute({
            id: '#idThermostat_hum#', value:
              { slider: cmd.innerHTML.replace("%", "").replace(" ", "") }
          });
        }
      }
    };

    // Refresh verrou consignes
    //
    jeedom.cmd.addUpdateFunction('#idEtatVerrouConsignes#', function (_options) {
      if (_options.display_value == "1") {
        if (is_object(cmd = document.querySelector('#idLockCsg#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idUnlockCsg#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#idLockCsg#uid#'))) {
          cmd.style.display = 'none';
        }
        if (is_object(cmd = document.querySelector('#idUnlockCsg#uid#'))) {
          cmd.style.display = 'block';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idEtatVerrouConsignes#', value: '#etatVerrouConsignes#', display_value: '#etatVerrouConsignes#' }]);

    document.getElementById("idLockCsg#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idOffVerrouConsignes#' }); };
    document.getElementById("idUnlockCsg#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idOnVerrouConsignes#' }); };

    // Refresh verrou éclairage
    //
    jeedom.cmd.addUpdateFunction('#idEtatVerrouEclairage#', function (_options) {
      if (_options.display_value == "1") {
        if (is_object(cmd = document.querySelector('#idLockEcl#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idUnlockEcl#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#idLockEcl#uid#'))) {
          cmd.style.display = 'none';
        }
        if (is_object(cmd = document.querySelector('#idUnlockEcl#uid#'))) {
          cmd.style.display = 'block';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idEtatVerrouEclairage#', value: '#etatVerrouEclairage#', display_value: '#etatVerrouEclairage#' }]);

    document.getElementById("idLockEcl#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idOffVerrouEclairage#' }); };
    document.getElementById("idUnlockEcl#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idOnVerrouEclairage#' }); };

    // Refresh verrou ventilation
    //
    jeedom.cmd.addUpdateFunction('#idEtatVerrouVentile#', function (_options) {
      if (_options.display_value == "1") {
        if (is_object(cmd = document.querySelector('#idLockVen#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idUnlockVen#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#idLockVen#uid#'))) {
          cmd.style.display = 'none';
        }
        if (is_object(cmd = document.querySelector('#idUnlockVen#uid#'))) {
          cmd.style.display = 'block';
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idEtatVerrouVentile#', value: '#etatVerrouVentile#', display_value: '#etatVerrouVentile#' }]);

    document.getElementById("idLockVen#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idOffVerrouVentile#' }); };
    document.getElementById("idUnlockVen#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idOnVerrouVentile#' }); };

    // Statut jour nuit
    //
    document.getElementById("idStatutJour#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idStatutNuit#' }); };
    document.getElementById("idStatutNuit#uid#").onclick = function () { jeedom.cmd.execute({ id: '#idStatutJour#' }); };

    // Affichage résumé/consommations
    //
    document.getElementById("idHisto#uid#").onclick = function () {
      if (is_object(cmd = document.querySelector('#idResume#uid#'))) {
        cmd.style.display = 'none';
      }
      if (is_object(cmd = document.querySelector('#idConsommations#uid#'))) {
        cmd.style.display = 'block';
      }
    };

    document.getElementById("idPrecedent#uid#").onclick = function () {
      if (is_object(cmd = document.querySelector('#idResume#uid#'))) {
        cmd.style.display = 'block';
      }
      if (is_object(cmd = document.querySelector('#idConsommations#uid#'))) {
        cmd.style.display = 'none';
      }
    };

    if (is_object(cmd = document.querySelector('#idResume#uid#'))) {
      cmd.style.display = 'block';
    }
    if (is_object(cmd = document.querySelector('#idConsommations#uid#'))) {
      cmd.style.display = 'none';
    }

  </script>

</div>